<div id="image-header" class="h-1/2">
  <img alt="ptb-icon" src="assets/img/icon.svg" class="flex items-center">
</div>

<div id="content" class="bg-ptb-gray-500">
  <div class="mx-2 text-center">
    <h2 class="text-gray-200 font-extrabold text-3xl xs:text-4xl md:text-5xl leading-tight">
      PlaceToBeer
    </h2>
    <p>Your place - your friends - your rating</p>
    <div class="inline-flex">
      <button class="btn btn-add">Login</button>
      <button class="btn btn-create">Learn More</button>
    </div>
  </div>

</div>




