<app-routing-popup [navigateToStartpage]="navigateToStartpage">

  <div class="flex flex-col space-y-4">
    <div class="bg-ptb-gray-500 m-2 p-5 rounded-md h-full object-fill flex flex-col space-y-4">
      <div style="background-image: url(assets/img/bierkrug.svg)" class="object-contain h-40 opacity-75"></div>
      <div class="text-3xl text-ptb-gray-900 text-center font-semibold my-auto">What crazy thing is <span class="4xl text-ptb-orange-600">PlaceToBeer</span>?</div>

    </div>

    <div class="bg-ptb-gray-500 m-2 p-5 rounded-md h-full object-fill">
      <div class="text-gray-900 text-md">
        <p>When deciding where to go in a friends group there are always discussions about which place to visit. This is
          an avoidable waste of time.
          To reduce this nonsense and create new memories PlaceToBeer will help you with that decision.</p>
        <p>PlaceToBeer is a webbased platform to propose and rate places and events in your friend group.
          The idea is to individually rate bars, pubs, clubs, restaurants or wherever you can have fun together located
          in
          Karlsruhe.</p>
        <p>To use our service you will need to register. Afterwards you can start creating a new group and your first
          proposals.</p>
      </div>
    </div>
  </div>

</app-routing-popup>

