<app-base-popup [id]="id">
  <form (ngSubmit)="onSubmit()" class="bg-ptb-gray-500 m-2 p-5 rounded-md h-full object-fill" #f="ngForm">
    <div class="grid grid-cols-1 gap-4">
      <div id="input-field" class="div-input-field">
        <input id="groupName" name="groupName" class="input-field"
          type="text" ngModel required/>
        <label class="label-input-field" for="groupName">Group name</label>
      </div>

      <div id="member-list">
        Member list coming soon!
      </div>

      <div class="grid grid-cols-3">
        <div>
          <input id="add-member" name="add-member" class="input-field" type="text" ngModel/>
          <label class="label-input-field" for="add-member">Email address</label>
        </div>

        <div id="grant-admin-role">
          <input type="checkbox" ngModel>
          <label class="text-ptb-gray-800 text-sm" for="grant-admin-role">Grant admin role</label>
        </div>

        <div>
          <button class="btn btn-create">Add to group</button>
        </div>
      </div>

      <div class="flex flex-row justify-end space-x-4">
        <button type="submit" class="btn btn-create" [disabled]="!f.valid">Create</button>
        <button type="button" (click)="onCancel()" class="btn btn-cancel">Cancel</button>
      </div>

    </div>

  </form>
  <br>

</app-base-popup>
