/* apply following three classes to html structure div containing an input-field and a label to create a floating input-field*/
.input-field {
  @apply block w-full appearance-none focus:outline-none bg-transparent
}

.div-input-field {
  @apply w-1/3 relative my-4 border-b-2 border-ptb-gray-800 focus-within:border-ptb-dark-blue-500
}

.label-input-field {
  @apply absolute top-0 duration-300 origin-0 text-ptb-gray-800
}

label.label-input-field {
  top: 0%;
  transform: translateY(-100%);
  font-size: 11px;
}

input:not(:focus) + label.label-input-field {
  top: 50%;
  transform: translateY(-150%);
  font-size: 14px;
}
