<form (ngSubmit)="onSubmit()" class="bg-ptb-gray-800 pt-4 h-full object-fill" #subForm="ngForm">
<div class="">
  <svg (click)="onCancel()" class="h-4 w-4 fill-current text-white ml-auto mr-4 cursor-pointer" xmlns="http://www.w3.org/2000/svg"
       viewBox="0 0 20 20" fill="currentColor">
    <path fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd"/>
  </svg>

  <div class="flex flex-col pt-5 gap-4 pl-3">
    <div class="div-input-field w-3/4 border-ptb-gray-300" [ngClass]="{'border-red-700':emailControl.touched && emailControl.invalid}">
      <input id="email" name="email" class="input-field" type="text" ngModel pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required #emailControl="ngModel"/>
      <label class="label-input-field text-white" [ngClass]="{'text-red-700':emailControl.touched && emailControl.invalid}" for="email">
        Email address
      </label>
    </div>
    <div *ngIf="isOwner" class="my-auto space-x-3">
      <input id="grantAdminRole" name="grantAdminRole" type="checkbox" ngModel>
      <label class="text-sm text-white" for="grantAdminRole">
        Grant admin role
      </label>
    </div>
    <!--<div class="flex flex-row justify-end space-x-4">
      <button type="submit" class="btn btn-create" [disabled]="!f.valid">Invite to Group</button>
      <button type="button" (click)="onCancel()" class="btn btn-cancel">Cancel</button>
    </div>-->
  </div>


  <div class="flex flex-col space-y-2 p-4">
    <button type="submit" class="btn btn-popover" [disabled]="!subForm.valid">Invite to group</button>
  </div>
</div>
</form>
