<div class="flex flex-col">
  <div *ngIf="userInvitationService.pendingInvitations == null || userInvitationService.pendingInvitations.length == 0">
    No pending invitation
  </div>

  <span *ngIf="userInvitationService.pendingInvitations.length >= 1">Remaining Invitations</span>

  <app-invitation-item *ngFor="let invitationResponse of userInvitationService.pendingInvitations"
                       [invitationResponse]="invitationResponse"
                       [emitter]="invitationResponse.emitter.name"
                       [groupName]="invitationResponse.group.name"
                       [role]="invitationResponse.role"
                  ></app-invitation-item>
</div>
