<form (ngSubmit)="onAddMember()" #subForm="ngForm">
  <div class="grid gap-x-8 grid-cols-3">
    <div class="div-input-field w-full" [ngClass]="{'border-red-700':emailControl.touched && emailControl.invalid}">
      <input id="email" name="email" class="input-field" type="text" ngModel email required #emailControl="ngModel"/>
      <label class="label-input-field" [ngClass]="{'text-red-700':emailControl.touched && emailControl.invalid}" for="email">
        Email address
      </label>
    </div>

    <div class="my-auto space-x-3">
      <input id="grantAdminRole" name="grantAdminRole" type="checkbox" ngModel>
      <label class="text-ptb-gray-800 text-sm" for="grantAdminRole">
        Grant admin role
      </label>
    </div>

    <div class="my-auto">
      <button type="submit" class="btn btn-create" [disabled]="emailControl.invalid">
        Add to group
      </button>
    </div>
  </div>
</form>

