<div class="flex flex-col space-y-2 py-4">

  <div *ngIf="(groupService.currentGroup$ | async) == null">Please select a group</div>
  <div>
    <app-group-item-active *ngIf="(groupService.currentGroup$ | async) != null"
                           [group]="(groupService.currentGroup$ | async)"></app-group-item-active>
  </div>

  <div *ngIf="(groupService.currentGroup$ | async) != null">Switch hubpage to</div>
  <app-group-item *ngFor="let group of (groupService.nonSelectedGroups$ | async)" [groupName]="group.name"
                  (click)="this.changeSelectedGroup(group)"></app-group-item>
</div>
